.input-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.input-form button {
  width: 15%;
  padding: 12px;
  background-color: #00aaff;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.input-form button:hover {
  background-color: #0099cc;
  transform: translateY(-2px);
}

.input-form button:active {
  transform: translateY(1px);
}
